<footer>
  <div class="footer-container">
    <div class="social">
    <h4>&copy;<script>document.write(new Date().getFullYear())</script>&nbsp;<a href="http://peterkaizer.com">Peter Kaizer</a> | All rights reserved.</h4>
    <p><i class="fab fa-apple"></i> Built with <a href="https://www.11ty.dev/">11ty</a> on a Mac</p>
    <p><i class="fas fa-server"></i> Hosted with <a href="https://www.netlify.com/">Netlify</a></p>
    <ul>
    	<li><a href="//www.linkedin.com/in/pdkaizer/"><i class="fab fa-linkedin fa-2x"></i></a></li>
      <li><a href="//twitter.com/pdkaizer"><i class="fab fa-twitter-square fa-2x"></i></a></li>
      <li><a href="//www.instagram.com/pdkaizer"><i class="fab fa-instagram fa-2x"></i></a></li>
      <li><a href="//github.com/pdkaizer"><i class="fab fa-github-square fa-2x"></i></a></li>
    </ul>
    </div>
  </div>
</footer>