<section  class="hero-image">
	{%- if headerImage -%}
	<img src="/images/header-images/{{ headerImage }}" alt="">
	{%- else -%}
	<img src="/images/header-images/gg-bridge-2004-03.jpg" alt="">
	{%- endif -%}
</section>