<header>
  <section class="header-container">
    <div class="header-logo">
      <img src="/images/pk-circle-100.png" class="img-responsive" alt="">
    </div>
    <div class="header-name">
        <h1><a  href="/">Peter Kaizer</a></h1>
        <h4>product designer</h4>
    </div>
    <div class="header-nav-mobile">
     <span class="menu-mobile" onclick="openNav()"><i class="far fa-bars fa-3x" aria-hidden="true"></i></span>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/about"><i class="far fa-user"></i> About</a>
        <a href="/journal"><i class="fal fa-pencil"></i> Reading & Writing</a>
        <a href="/work"><i class="far fa-desktop-alt"></i> Work</a>
        <a href="/photos"><i class="far fa-image"></i> Photos</a>
        <a href="/contact"><i class="fal fa-envelope"></i> Contact</a>
        <a href="https://books.peterkaizer.com/"><i class="fal fa-book"></i> Recommended Books</a>
    </div>
    <div class="header-nav">
      <nav>
        <ul class="nav-list">
            <li  class="nav-li"><a href="/about"><i class="far fa-user"></i> About</a></li>
            <li><a href="/journal"><i class="fal fa-pencil"></i> Reading & Writing</a></li>
            <li  class="nav-li"><a href="/work"><i class="far fa-desktop-alt"></i> Work</a></li>
            <li class="nav-li"><a href="/photos"><i class="far fa-image"></i> Photos</a></li>
            <li class="nav-li"><a href="/contact"><i class="fal fa-envelope"></i> Contact</a></li>
            <li><a href="https://books.peterkaizer.com/"><i class="fal fa-book"></i> Recommended Books</a></li>
        </ul>
      </nav>
    </div>
  </section>
</header>