<section class="featured-project">
<h1><i class="far fa-image"></i> Featured Photo Gallery</h1>
<div class="project">
    <div><img src="/images/photos/US-capital/us-capital-2019-featured.jpg" /></div>
    <div>
      <h3>My Capital Walk</h3>
      <p>For the past 5+ years, I have been commuting to Washington, DC a few days a week to do design work for various US federal government agencies. I take the commuter train from Baltimore early in the morning and then usually walk to whatever agency I am doing work for. For the past several years I have been working for USPS so my walk from Union Station takes me past the US Capital. I have been documenting this walk.</p>
      <p><strong> <a href="/photos/capital-walk-2019/">Visit photo gallery</a></strong></p>
  </div>
</div>
 <div class="home-see-all"><h3><a href="/photos/">See all photo galleries<i class="fa fa-arrow-right fa=2x" aria-hidden="true"></i></a></h3></div>
</section>