<section class="featured-project">
<h1><i class="fal fa-desktop-alt"></i> Featured Project</h1>
<div class="project">
    <div><img src="/images/portfolio/usps.jpg" alt="USPS.com"  /></div>
    <div>
      <h3>USPS.com</h3>
      <p>UI and UX design work for the United States Postal Service website and online applications. My team has been supporting all the UX, UI design and design system work for USPS.com.</p>
      <p><strong>Type:</strong> Website & Web applications</p>
      <p><strong>Skills:</strong> Design systems, UX design, UI design, Sketch</p>
      <p><strong>Role:</strong> Design lead</p>
      <p><strong>Visit site:</strong> <a href="https://www.medicaid.gov/">https://www.usps.com/</a></p>
  </div>
</div>
 <div class="home-see-all"><h3><a href="/portfolio.html">See all projects<i class="fa fa-arrow-right fa=2x" aria-hidden="true"></i></a></h3></div>
</section>