<section  class="photo-gallery-hero">
    <div class="photo-gallery-hero-area">
        <h1><i class="far fa-image"></i> {{ title }}</h1>
        <div class="photo-gallery-hero-content">
            <div><img src="/images/photos/{{ photosetname }}/{{ featuredimage }}.jpg" class="gallery__img" alt="" title="" /></div>
            <div>
                <p>{{ summary }}</p>
            </div>
        </div>
    </div>
</section>