<div class="portfolio-item">
    <div class="portfolio-image">
    <img src="/images/portfolio/usps.jpg" alt="" class="img-responsive" />
    </div>
    <div class="portfolio-text">
    <h2>USPS.com</h2>
    <p>UI and UX design work for the United States Postal Service website and online applications. My team has been supporting all the UX, UI design and design system work for USPS.com.</p>
    <p><strong>Type:</strong> Website & Web applications</p>
    <p><strong>Skills:</strong> Design systems, UX design, UI design, Sketch</p>
    <p><strong>Role:</strong> Design lead</p>
    <p><strong>Visit site:</strong> <a href="https://www.usps.com/">https://www.usps.com/</a></p>
    </div>
</div>

<div class="portfolio-item">
    <div class="portfolio-image">
    <img src="/images/portfolio/Medicaid-2018-600.png" alt="" class="img-responsive" />
    </div>
    <div class="portfolio-text">
    <h2>Medicaid.gov</h2>
    <p>Design and front-end dev lead lead on a Medicaid project establishing a design system for their 2 primary websites that will be based on the US Web Design Standards.</p>
    <p><strong>Type:</strong> Website</p>
    <p><strong>Skills:</strong> Website design, Sketch, front-end development</p>
    <p><strong>Role:</strong> Design and front-end dev lead</p>
    <p><strong>Visit site:</strong> <a href="https://www.medicaid.gov/">https://www.medicaid.gov/</a></p>
    </div>
</div>

<div class="portfolio-item">
    <div class="portfolio-image">
    <img src="/images/portfolio/SAMHSA-KN-600.png" alt="" class="img-responsive" />
    </div>
    <div class="portfolio-text">
    <h2>SAMHSA Knowledge Network</h2>
    <p>User Experience lead on resource library website for the Substance Abuse and Mental Health Adminstration.</p>
    <p><strong>Type:</strong> Website</p>
    <p><strong>Skills:</strong> Wire framing, UX design</p>
    <p><strong>Role:</strong> User Experience lead</p>
    <p><strong>Visit site:</strong> <a href="https://knowledge.samhsa.gov/">https://knowledge.samhsa.gov/</a></p>
    </div>
</div>

<div class="portfolio-item">
    <div class="portfolio-image">
    <img src="/images/portfolio/hc-gov-600.jpg" alt="" class="img-responsive" />
    </div>
    <div class="portfolio-text">
    <h2>Healthcare.gov</h2>
    <p>Senior front-end developer on the team managing a user-centric, massively scalable website to enable millions of Americans to obtain health insurance with ease.</p>
    <p><strong>Type:</strong> Website</p>
    <p><strong>Skills:</strong> html5, less, css, javascript, jekyll, angular, backbone</p>
    <p><strong>Role:</strong> Senior front-end developer</p>
    <p><strong>Visit site:</strong> <a href="https://www.healthcare.gov">https://www.healthcare.gov</a></p>
    </div>
</div>

<div class="portfolio-item">
<div class="portfolio-image">
<img src="/images/portfolio/Judd-Foundation-600.jpg" alt="" class="img-responsive" />
</div>
<div class="portfolio-text">
<h2>Judd Foundation</h2>
<p>Judd Foundation maintains and preserves Donald Judd’s permanently installed living and working spaces, libraries, and archives in New York and Marfa, Texas. The Foundation promotes a wider understanding of Judd’s artistic legacy by providing access to these spaces and resources and by developing scholarly and educational programs.</p>

<p>I colaborated with <a href="http://teamsubjectmatter.com/">Subject Matter</a> to develop the front-end style architecture and a custom Wordpress theme based on thier website design for the Judd Foundation.</p>
<p><strong>Type:</strong> Website</p>
<p><strong>Skills:</strong> html5, SASS, CSS, Jquery, Wordpress</p>
<p><strong>Role:</strong> Custom Wordpress theme development, Front-end style architecture</p>
<p><strong>Visit site:</strong> <a href="http://juddfoundation.org">http://juddfoundation.org</a></p>
</div>
</div>

<div class="portfolio-item">
<div class="portfolio-image">
<img src="/images/portfolio/pfs-600.jpg" alt="" class="img-responsive" />
</div>
<div class="portfolio-text">
<h2>Prometheus Federal Services</h2>
<p>PFS is a public sector management consulting firm serving federal health and social services agency clients.</p> <p>I designed, developed and implemented a custom Wordpress theme for their new website.</p>
<p><strong>Type:</strong> Website</p>
<p><strong>Skills:</strong> html5, SASS, css, javascript, Wordpress</p>
<p><strong>Role:</strong> Website design, front-end development, Wordpress development</p>
<p><strong>Visit site:</strong> <a href="https://pfs.us">https://pfs.us</a></p>
</div>
</div>

<div class="portfolio-item">
<div class="portfolio-image">
<img src="/images/portfolio/CEB-600.png" alt="" class="img-responsive" />
</div>
<div class="portfolio-text">
<h2>Words Count LLC</h2>
<p>My wife Cameron Barry recently went out on her own to do freelance writing and editing. This website is the product of our collaboration on a custom Wordpresss powered site.</p>
<p><strong>Type:</strong> Website</p>
<p><strong>Skills:</strong> html5, SASS, css, javascript, Wordpress</p>
<p><strong>Role:</strong> Website design, front-end development, Wordpress development</p>
<p><strong>Visit site:</strong> <a href="https://wordscountllc.com">https://wordscountllc.com</a></p>
</div>
</div>

<div class="portfolio-item">
<div class="portfolio-image">
<img src="/images/portfolio/Janine-Cliff-600.png" alt="" class="img-responsive" />
</div>
<div class="portfolio-text">
<h2>Janine Cliff Design</h2>
<p>For 20 plus years Janin Cliff Design has created hundreds of reports and brochures and logos for a wide variety of organizations, government agencies, non-profits and corporations. They are a certified, woman-owned and operated, small business.</p> <p>I developed a custom Wordpress theme based on thier website design.</p>
<p><strong>Type:</strong> Website</p>
<p><strong>Skills:</strong> html5, SASS, css, javascript, Wordpress</p>
<p><strong>Role:</strong> Custom Wordpress theme development, User Experience direction</p>
<p><strong>Visit site:</strong> <a href="http://janincliffdesign.com">http://janincliffdesign.com</a></p>
</div>
</div>

<div class="portfolio-item">
<div class="portfolio-image">
<img src="/images/portfolio/redroom-600.jpg" alt="" class="img-responsive" />
</div>
<div class="portfolio-text">
<h2>The Red Room</h2>
<p>The Red Room is a volunteer-run space in Baltimore dedicated to mind-expanding experimental culture, headquartered at Normals Books and Records. For thier new website I developed a custom Wordpress implimentation that makes use of custom fields for ease of updating and publishing new events as well as a custom jquery background color shift.</p>
<p><strong>Type:</strong> Website</p>
<p><strong>Skills:</strong> html5, SASS, CSS, Jquery, Wordpress, html email, user experience design</p>
<p><strong>Role:</strong> Custom Wordpress theme development, Mailchimp email template development</p>
<p><strong>Visit site:</strong> <a href="http://redroom.org/event-archive/">http://redroom.org</a></p>
</div>
</div>

<div class="portfolio-item">
<div class="portfolio-image">
<img src="/images/portfolio/hhs-ocr-600.jpg" alt="" class="img-responsive" />
</div>
<div class="portfolio-text">
<h2>HHS - Office of Civil Rights</h2>
<p>I worked on the team at HHS focusing on designing a new information architecture for the Office for Civil Rights a Health & Human Services.</p>
<p><strong>Type:</strong> UX</p>
<p><strong>Skills:</strong> Information Architecture, wire-framing, content mapping</p>
<p><strong>Role:</strong> Information Architecture, wire-framing, content mapping</p>
<p><strong>Visit site:</strong> <a href="http://www.hhs.gov/ocr">http://www.hhs.gov/ocr</a></p>
</div>
</div>

<div class="portfolio-item">
<div class="portfolio-image">
<img src="/images/portfolio/abc-600.jpg" alt="" class="img-responsive" />
</div>
<div class="portfolio-text">
<h2>Art, Book & Creativity</h2>
<p>Art, Books, and Creativity (ABC) is a model arts integration curriculum developed by the National Museum of Women in the Arts.</p> <p>I developed a custom Wordpress theme based on thier website design.</p>
<p><strong>Type:</strong> Website</p>
<p><strong>Skills:</strong> html, css, Wordpress, user experience design</p>
<p><strong>Role:</strong> Custom Wordpress theme development, User Experience direction.</p>
<p>This site is no longer online</p>
</div>
</div>

<div class="portfolio-item">
<div class="portfolio-image">
<img src="/images/portfolio/umd-tdpa-600.jpg" alt="" class="img-responsive" />
</div>
<div class="portfolio-text">
<h2>University of Maryland School of Theatre, Dance and Performance Studies</h2>
<p>Drupal 6 website for the University of Maryland School of Theatre, Dance and Performance Arts.</p>
<p><strong>Type:</strong> Website</p>
<p><strong>Skills:</strong> user experience design, html, css Drupal theme development</p>
<p><strong>Role:</strong> Front-end development, Drupal themeing, Information architecture</p>
<p><strong>Visit site:</strong> <a href="http://tdps.umd.edu">http://tdps.umd.edu</a></p>
</div>
</div>

