@mixin bp($point) {

  @if $point == narrow {
    @media #{$bp-narrow} { @content; }
  }
  @else if $point == mid {
    @media #{$bp-mid} { @content; }
  }
  @else if $point == wide {
    @media #{$bp-wide}  { @content; }
  }

}

@mixin header-container($width: 80%, $max-width: 1400px) {
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
  @media  (max-width: 449px) {
    width: 98%;
  }
}

@mixin container($width: 80%, $max-width: 1400px) {
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
  @media  (max-width: 449px) {
    width: 95%;
  }
}

@mixin resume-container($width: 60%, $max-width: 770px) {
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
  @media  (max-width: 449px) {
    width: 90%;
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin img-responsive ($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
