// Typography

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

// Typography
$base-font-family: 'Karla', sans-serif;
$heading-font-family: 'Karla', sans-serif;
$condensed-font-family: 'Karla', sans-serif;
$basefontsize: 16;

:root {
    --font-size: 120%;
    --ratio: 1.333;
  
  /* Calculate values */
    --h4: calc(var(--font-size) * var(--ratio));
    --h3: calc(var(--h4) * var(--ratio));
    --h2: calc(var(--h3) * var(--ratio));
    --h1: calc(var(--h2) * var(--ratio));
  }
  
  p {
    font-size: var(--font-size);
  }
  
  h4 {
    font-size: var(--h4);
  }
  
  h3 {
    font-size: var(--h3);
  }
  
  h2 {
    font-size: var(--h2);
  }
  
  h1 {
    font-size: var(--h1);
  }