// Breakpoints
$bp-narrow: "(min-width: 500px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1266px)";

//$mobile: "(max-width: 767px)";
//$tablet: "(max-width: 768px)";
//$desktop: "(max-width: 1170px)";

// Colours

$primary-text-color: #222;
$secondary-text-color: #555555;
$primary-page-color: #fff;
$accent-color: #d7176a;
$accent-color-alternate: #00d9ff;
$white: #FFFFFF;
$light-gray: #E8E9EB;
$gray: #A7A7A7;
$dark-gray: #606060;
$accent: rgb(193,39,44);
$dark-blue: #223843;