// Breakpoints
$bp-narrow: "(min-width: 500px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1266px)";

// Colours

// Define your design’s palette by choosing three main colours
$primarycolor 					: rgb(193,39,44);
$secondarycolor 				: rgb(74,74,74);
$tertiarycolor 					: rgb(41,47,54);


// Colors
$red: rgb(193,39,44);
$dark-gray: rgb(74,74,74);
$medium-gray: #999;
$light-gray: #ddd;
$black: #000;
$white: #fff;
$primary-text-color: #222;
$secondary-text-color: #555555;
$primary-page-color: #e3e6e6;
$accent-color: #d7176a;
$accent-color-alternate: #00d9ff;