// Breakpoints
$bp-narrow: "(min-width: 500px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1266px)";

$mobile: "(max-width: 767px)";
$tablet: "(max-width: 768px)";
$desktop: "(max-width: 1170px)";

// Colours

$primary-text-color: #222;
$secondary-text-color: #555555;
$primary-page-color: #fff;
$accent-color: #d7176a;
$accent-color-alternate: #00d9ff;
$white: #FFFFFF;
$light-gray: #E8E9EB;
$gray: #A7A7A7;
$dark-gray: #606060;
$accent: rgb(193,39,44);
$dark-blue: #223843;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:300,400,400i,700,700i|Source+Sans+Pro:300,400,400i,500,600,700');

// Typography
$base-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Playfair Display', serif;
$condensed-font-family: 'Source Sans Pro', sans-serif;
$basefontsize: 16;

:root {
    --font-size: 100%;
    --ratio: 1.333;
  
  /* Calculate values */
    --h4: calc(var(--font-size) * var(--ratio));
    --h3: calc(var(--h4) * var(--ratio));
    --h2: calc(var(--h3) * var(--ratio));
    --h1: calc(var(--h2) * var(--ratio));
  }
  
  p {
    font-size: var(--font-size);
  }
  
  h4 {
    font-size: var(--h4);
  }
  
  h3 {
    font-size: var(--h3);
  }
  
  h2 {
    font-size: var(--h2);
  }
  
  h1 {
    font-size: var(--h1);
  }